.topnav a {
  float: center;
  color: #333333;
  width: 100%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
