* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;
*/
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
img {
  width: 60%;
  margin: 1%;
}
.topnav {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.box-title {
  font-size: 2em;
  margin: 1%;
}
.box-description {
  font-size: 1em;
  margin: 1%;
}
.sectionone {
  border-style: solid;
  margin: 1%;
}
.sectiontwo {
  margin: 1%;
  border-style: solid;
}
